<h2 (click)="toggleAccordion()">
   Book History
    <span *ngIf="isMenuOpen">&#9650;</span>
    <span *ngIf="!isMenuOpen">&#9660;</span>
 </h2>
 <div 
    [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
    
    <ion-text *ngIf="((bookHistory | async)?.checkedOut).length > 0"  >
      Currently Checked-Out:
    </ion-text>
    
    <ion-card *ngFor = "let book of ((bookHistory|async)?.checkedOut)">
      <ion-item class="ion-text-wrap">
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">{{book.itemName}}</ion-label>
      </ion-item>  

      <ion-card-content>
         Return by: {{book.returnDate.toDate()}}
       </ion-card-content>
     </ion-card> 

     <ion-text *ngIf="((bookHistory| async)?.Returned).length > 0"  >
      Previously Checked-Out:
    </ion-text>    
      
      <ion-card *ngFor = "let book of ((bookHistory|async)?.Returned)">
       <ion-item class="ion-text-wrap">
         <ion-icon name="book" slot="start"></ion-icon>
         <ion-label class="ion-text-wrap">{{book.itemName}}</ion-label>
       </ion-item>  
      </ion-card>
   
 </div>



 <h2 (click)="toggleAccordion2()">
   Account Fees
    <span *ngIf="isMenuOpen2">&#9650;</span>
    <span *ngIf="!isMenuOpen2">&#9660;</span>
 </h2>
 <div 
    [ngClass]="this.isMenuOpen2 ? 'active' : 'inactive'">
    
    <ion-text>
      There are currently no fees associated with your account.
    </ion-text>
    <p>{{ fees }}</p>
 </div>

 <h2 (click)="toggleAccordion3()">
   User Settings
    <span *ngIf="isMenuOpen3">&#9650;</span>
    <span *ngIf="!isMenuOpen3">&#9660;</span>
 </h2>
 <div 
    [ngClass]="this.isMenuOpen3 ? 'active' : 'inactive'">
        
    <ion-item *ngIf="bookHistory | async as accountInfo">    
      <ion-label position = "fixed" class="ion-text-wrap">
        Name
      </ion-label>

      <ion-textarea placeholder={{accountInfo.name}} [readonly]="isReadonly()" [(ngModel)]="name" ></ion-textarea>
 
    </ion-item>

    <ion-item *ngIf="bookHistory | async as accountInfo">    
            <ion-label position = "fixed" class="ion-text-wrap">
              Email Address
            </ion-label>
            <ion-textarea placeholder={{accountInfo.email}} [readonly]=true  ></ion-textarea>
    </ion-item>

    <ion-item *ngIf="bookHistory | async as accountInfo">
            <ion-label position = "fixed" class="ion-text-wrap">
              Password
            </ion-label>
            <ion-textarea placeholder={{accountInfo.password}} [readonly]=true ></ion-textarea>
    </ion-item>

    <ion-footer no-shadow>      
    <ion-button
      type="button" 
      color="primary" 
      fill="solid" 
      size="default" 
      (click)="edit()">{{buttonText}}
    </ion-button>
  </ion-footer>
        
        
 </div>
