<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row justify-content-center>
    <ion-col size="8">
      <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="4">
        <ion-button (click)="scanBarcode()">
          <ion-icon slot="start" name="barcode"></ion-icon>
          Scan
        </ion-button>    
    </ion-col>
  </ion-row> 
  
 
  <ion-item *ngFor="let item of resultArr">
    <ion-label>
      <ion-note style="font-weight:bold">
        {{item.itemName}}
      </ion-note>
    </ion-label>
  </ion-item>

  

  <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div>

</ion-content>
