<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="left"></ion-buttons>
    <ion-back-button>[text]="Back"</ion-back-button>
      
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label position = "floating">
          Name
        </ion-label>
        <ion-input type = "text" [(ngModel)]="name"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label position = "floating">
        Email Address
      </ion-label>
      <ion-input type = "text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating">
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position = "floating">
      Confirm Password
    </ion-label>
    <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
</ion-item>
</ion-list>
  
<ion-button fill="solid" expand="block" color="dark" (click)="register()">Sign Up</ion-button>
</ion-content>

